# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Flask
instance/

# Temporary folders
uploads/
temp/
generated/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db